

/* Шапка */

.header {
    
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    place-items: center;
    
    
    padding: 92px 24px 96px;
    font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    letter-spacing: normal;
}


.header_menu {

    column-gap: 30px;
    
    letter-spacing: 0.01em;

}



.header_links-list {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    list-style: circle;
    column-gap: 32px;
    letter-spacing: 0.01em;
    text-wrap: nowrap;
    

}

.header_links-list-item {

    
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    white-space: nowrap;

}

.header_links-list-item_no-bullet {

    list-style: none;
    text-decoration: none;
    

}

.header_logo {

    display: block;
    width: 148px;
    height: 105px;
}

.header_address {
    
    
    
    justify-self: end;
    font-size: 18px;
    line-height: 25.3px;
    text-decoration: underline;
    margin: 5px;
    font-style: normal;
    font-weight: 400;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-right: 55px;
    
    
}



/* Основной блок */

.main {
    position: relative;
}


.cover {
    
    font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    z-index: 0;
    padding: 165px 50px 0;
    margin-bottom: 179px; 

}

.overlay {

    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    inset: 0;


}
.cover_title {
    
    position: relative;
    color: white;
    z-index: 2;
    
}

.aligned-text {
   
    display:block;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.3em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 10px;
    text-transform: uppercase;
    

}

.aligned-text_center {
    
    text-align: center;
    padding-top: 25px;
   
    

}

.aligned-text_right {
    
    text-align: right;
    line-height: 1;
    padding-top: 20px;
}

.letter-spacing-extended {
    
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    
    letter-spacing: 0em;
}


.cover_description {

    display: flex;
    flex-direction: row;
    position: relative;
    align-self: center;
    justify-content: space-between;
    z-index: 1;
    color: white;
    padding-top: 135px;
    padding-bottom: 51px;
    
    
    
    
    

}

.cover_description-text {
    
    display: inline;
    font-size: 22px;
    font-weight: 400px;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    align-self: center;
    justify-self: flex-end;
    
    padding-left: 27px;
    word-spacing: 0.85em;
}




.bet-button {

    color: white;
    
    box-sizing: border-box;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px 0px 0px 0px;
    width: 256px;
    height: 51px;
    border-color: white;
    opacity: 0px;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.83px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top:5px;
    padding-bottom: 5px;
    
    
}


/* Карточки с лотами */

.lots {
    
    
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;
    
    font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
}

.lots_heading {

    
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 65px;
      
}


.card {

    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    padding: 51px 40px 48px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.card_title {

    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;

}

.card_text {

    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.lots_card-list {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0 24px;
    gap: 24px;
    align-content: space-between;
    
    
}

.lots_card-list-item {
   
    
    min-height: 563px;
    width: 334px;
    flex-grow: 1;
    column-gap: 30px;
    
    
}
.card_type_film {

    background-image: url(../images/card-lot-01.jpg);
    
}

.card_type_book {

    background-image: url(../images/card-lot-02.jpg);
    
}




.card_type_picture {

    background-image: url(../images/card-lot-03.jpg);
      
}

.lots_look-more-link {
    
    display: block;
    border-style: none;
    background-color: transparent;
    
    padding-top: 28px;
    padding-left: 65px;
    text-decoration: underline;
    text-underline-offset: 3px;
    align-self: flex-start;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


/* Об аукционе */

.about {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
    align-items: center;
    padding: 0 24px 15px;
    font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
    
}

.about_column {

    justify-self: center;
    align-self: start;
    padding: 0 24px 15px;

}

.about_logo {
    
    
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    
    
    
}

.about_title {

    justify-self: start;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 100px;

}


.about_text {

    
    grid-column: span 2;
    justify-self: center;
    align-self:baseline;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 100px;
    text-wrap:balance;
    

    
}

.text_about {

    letter-spacing: normal;
    

}

.text_about_bottom {

    margin-top: 24px;
}

.about_logo-image {

    width: 148px;
    height: 114px;
    
    
}


/* Подвал */


.footer {

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 145px 50px 88px;
    font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
    
    

}

.header_address_footer {

    padding-top: 17px;
}



.footer_menu-list {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-right: 20px;
    padding-bottom: 20px;


}

.footer_links-list-item {
    
    text-decoration: underline;
}

.footer__social-list {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 48px;
    padding-bottom: 25px;
}

.footer_social-icon {

    width: 48px;
    height: 48px;
}